body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F0F0F0;
    background-color: #7E7E7E;
    margin: 0 auto;
    text-align: center;
}

#currentpage {
    border: 1.5px solid #CACACA;
    color: #CACACA;
}


/* HEADER */
header {
    background-color: #585858;
    padding: 25px;
}

.menu {
    padding-right: 40px;
}
.menu ul {
    list-style-type: none;
    text-align: center;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    padding: 5px 50px 5px 50px;
    margin: 1px 25px 1px 25px;
    background-color: #7E7E7E;
    text-decoration: none;
}

.menu li a:link {
    color: #F0F0F0;
}
.menu li a:visited {
    color: #F0F0F0;
}
.menu li a:hover {
    border: 1.5px solid #CACACA;
    color: #CACACA;
}




/* CONTENU PAGE */

.content {
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
}


/* CV */
.cv_items {
    width: 60%;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #F0F0F0;
    border-radius: 5px;
}

#cv_photo {
    float: right;
    width: 20%;
    height: auto;
    margin-right: 150px;
    border-radius: 100%;
}

/* Contacts */
#contacts {
    list-style-type: none;
    vertical-align: center;
    width: auto;
    
}
#contacts li {
    padding: 5px;
}




/* FOOTER */

footer {
    background-color: #585858;
    padding: 25px;
    text-align: center;
}
